.auth-content {
    width: 80rem;
    height: auto;
    margin: auto;
    border: 1px solid #c5c5c5;
}

.auth-provider>button {
    margin-bottom: 1.2rem;
}

.button-link:hover,
.button-muted:hover,
.button:hover,
.provider-facebook:hover,
.provider-github:hover,
.provider-google:hover {
    cursor: pointer;
    background: #2a2a2a;
    border: 1px solid #2a2a2a;
    text-decoration: none;
}

.button,
.button-link,
.button-muted,
.provider-facebook,
.provider-github,
.provider-google {
    background: #101010;
    padding: 12px 16px;
    border: 1px solid #101010;
    color: #fff;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.provider-google {
    background: #fff;
    color: #3a3a3a;
    border: 1px solid #c5c5c5;
}

.auth-provider-button {
    width: 100%;
    font-size: 1.2rem;
}

.provider-google:hover {
    background: #e1e1e1;
    border: 1px solid #e1e1e1;
}

.auth {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 3.2rem 3.2rem;
    font-family: 'Tajawan', sans-serif;

    .authLeft {
        flex-basis: 50%;

        form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: space-between;

            input {
                border: 1px solid #e1e1e1;
                background: transparent;
                font-size: 1rem;
                padding: 1.2rem 1.6rem;
                font-weight: 600;
                box-shadow: 0;
                color: #4a4a4a;
                outline: 0;

                &::placeholder {
                    color: #4a4a4a;
                }
            }
        }

        button {
            background: #101010;
            padding: 1.1rem 1.5rem;
            border: 1px solid #101010;
            color: #fff;
            display: block;
            margin-left: auto;
            width: 25%;
            font-weight: 700;
            position: relative;
            display: flex;
            align-items: center;
            font-family: 'Tajawal', sans-serif !important;
            cursor: pointer;
            justify-content: center;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            -ms-transition: all .3s ease;
            transition: all .3s ease;
        }
    }

    .authRight {
        flex-basis: 40%;

    }

    &.reset{
        justify-content: center;
    }
    .resetForm {
        display: flex;
        justify-content: center;
        form {
            text-align: center;
            display: flex;
            gap: 2rem;
            justify-content: space-between;

            input {
                border: 1px solid #e1e1e1;
                background: transparent;
                font-size: 1rem;
                padding: 1.2rem 1.6rem;
                font-weight: 600;
                box-shadow: 0;
                color: #4a4a4a;
                outline: 0;

                &::placeholder {
                    color: #4a4a4a;
                }
            }
        }

        button {
            background: #101010;
            padding: 1.2rem 1.6rem;
            border: 1px solid #101010;
            color: #fff;
            display: block;
            margin-left: auto;
            width: 100%;
            font-weight: 600;
            font-size: 1rem;
            position: relative;
            display: flex;
            align-items: center;
            font-family: 'Tajawal', sans-serif !important;
            cursor: pointer;
            justify-content: center;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            -ms-transition: all .3s ease;
            transition: all .3s ease;
        }
    }
}

.auth-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 4.8rem;

    h6 {
        background-color: #fff;
        padding: 1.2rem;
        z-index: 1;
    }
}

.auth-divider:before {
    top: 25%;
}

.auth-divider:after,
.auth-divider:before {
    content: "";
    position: absolute;
    height: 30%;
    width: 1px;
    background: #e1e1e1;
}

.auth-divider:after {
    bottom: 25%;
}

.auth-divider:after,
.auth-divider:before {
    content: "";
    position: absolute;
    height: 30%;
    width: 1px;
    background: #e1e1e1;
}

.actions {
    display: flex;
    align-items: center;

    a {
        font-weight: 600;
        color: #4a4a4a;
        font-size: 0.8rem;
    }
}