.formRow {
  display: inline-block;
  width: 100%;

  label {
    display: block;
    width: 100%;
    text-align: left;
  }

  select {
    display: block;
    width: auto;
    float: left;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 400;
    text-align: left;
    border: 1px solid #e1e1e1;
    padding: 10px 0px;
    background: #f9f9f9;
    margin: 10px auto;
    outline: none;
    cursor: pointer;
  }
}