.header {
    width: 100%;
    background: #f9f9f9;
    padding: 2rem 4.5rem;
    position: relative;
    // position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(0);
    z-index: 55;
    box-shadow: none;
    -webkit-transition: transform .3s ease;
    -moz-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    -ms-transition: transform .3s ease;
    transition: transform .3s ease;

    .headerBasket {
        padding: 10px 16px;
        display: flex;
        position: relative;
        align-items: center;
        cursor: pointer;
        span{
            position: absolute;
            font-size: 0.9rem;
            right: 20%;
            bottom: 0%;
        }
        &:hover {
            background: #f2f2f2;
        }
    }

    .headerLeft {
        display: flex;
        align-items: center;

        .logo {
            a {
                color: #101010;
                font-size: 2rem;
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            font-weight: 500;
            color: #101010;
            align-items: center;
            margin-left: 0.5rem;

            li {
                cursor: pointer;
                padding: 10px 15px;

                &:hover {
                    background-color: #f2f2f2;
                }

                a {
                    color: #101010;
                    opacity: 0.5;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 1rem;
                }
            }
        }
    }

    .headerRight {
        .cartBtn {
            cursor: pointer;
        }
        a{
            color: #101010;
        }
        display: flex;
        gap: 2rem;
        align-items: center;

        &.loggedIn {
            .headerButtons {
                display: none;
                gap: 1rem;
            }
        }

        .headerButtons {
            display: flex;
            gap: 1rem;
        }

        .button {
            background: #101010;
            color: #f2f2f2;
            border: 1px solid #e1e1e1;
            text-transform: capitalize;
            font-size: 14px;
            padding: 0.6rem 0.8rem;

            &.button-muted {
                background: #f2f2f2;
                color: #101010;
            }
        }
    }

    .headerProfile {
        position: relative;

        .headerInner {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .headerArrow {
                cursor: pointer;
                display: flex;
            }

            .headerImg {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                background: #c5c5c5;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .button {
                font-size: 0.9rem;
            }
        }


        .userDropdown {
            &.userDropdownOpen {
                display: block;
            }

            &-link {
                font-size: 12px;
                color: #101010;
                font-weight: 700;
                display: flex;
                cursor: pointer;
                justify-content: space-between;
                padding: 12px 16px;
                text-align: left;

                &.signOut {
                    margin: 0;
                    display: flex;
                    align-items: center;
                }
            }

            width: 150px;
            height: auto;
            background: #fff;
            position: absolute;
            top: 100%;
            right: 0;
            box-shadow: 0 5px 12px rgba(0, 0, 0, .1);
            display: none;
        }
    }
}