.admin {
    padding: 0 10px;

    .callToActions {
        text-align: center;
        button {
            display: inline-block;
            margin: 0 auto;
        }
    }

    .manageProducts {
        table {
            margin: 0 auto;
        }

        table.results {
            tr {
                &:nth-child(even) {
                    background-color: #d3d3d3;
                }

                .thumb {
                    width: 15rem;
                    margin: 0 auto;
                }
            }
        }
    }
}